@model Water_Services.Data.Entities.Meter

<div>
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-4">
            Customer
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.UserEmail)
        </dd>
    </dl>
</div>
