@model Water_Services.Data.Entities.Invoice

@{
    ViewData["Title"] = "Buy consumption";
}

<h2>Buy consumption</h2>
<hr />
@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success">
        @ViewBag.SuccessMessage
    </div>
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<div>
    <h3>Invoice</h3>
    <br />
    <div class="row">
        <dl class="col-sm-6">
            <dt class = "col-sm-6">
                @Html.DisplayNameFor(model => model.Consumption.Meter.Address)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.Consumption.Meter.Address)
            </dd>
            <dt class = "col-sm-6">
                @Html.DisplayNameFor(model => model.Consumption.Meter.SerialNumber)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.Consumption.Meter.SerialNumber)
            </dd>
            <dt class = "col-sm-6">
                @Html.DisplayNameFor(model => model.Consumption.Date)
            </dt>
            <dd class = "col-sm-6">
                @Model.Consumption.Date.ToString("dd/MM/yyyy")
            </dd>
            <dt class="col-sm-6">
                Total volume
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Consumption.Volume) m³
            </dd>
            <dt class="col-sm-6">
                Total cost
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Price) €
            </dd>
        </dl>
        <div class="col-sm-6">
            <h5>Cost per tier</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th>Tier</th>
                        <th>Used volume</th>
                        <th>Unit price</th>
                        <th>Cost</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tierUsage in Model.TierUsages.OrderBy(u => u.UnitPrice))
                    {
                        <tr>
                            <td>@tierUsage.TierId</td>
                            <td>@tierUsage.VolumeUsed m³</td>
                            <td>@tierUsage.UnitPrice €</td>
                            <td>@tierUsage.Price €</td>
                        </tr>
                    }
                    <tr>
                        <td><b>Total</b></td>
                        <td>@Model.Consumption.Volume m³</td>
                        <td></td>
                        <td>@Model.Price €</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="checkout container">
        <form id="payment-form" method="post" asp-controller="Meters" asp-action="BuyConsumption">
            @Html.HiddenFor(n => n.Id)
            @Html.HiddenFor(n => n.Price)
            <input type="hidden" name="ConsumptionId" value="@Model.ConsumptionId" />
            <section>
                <div class="bt-drop-in-wrapper">
                    <div id="bt-dropin"></div>
                </div>
            </section>
            @Html.HiddenFor(n => n.Nonce, new { @id = "nonce" })
            <button class="btn btn-success" type="submit">Confirm payment</button>
        </form>
    </div>
</div>

<script src="https://js.braintreegateway.com/web/dropin/1.22.0/js/dropin.min.js"></script>
<script>
    var client_token = "@ViewBag.ClientToken";
    var form = document.querySelector('#payment-form');

    braintree.dropin.create({
        authorization: client_token,
        container: '#bt-dropin'
    }, function (createErr, instance) {
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            instance.requestPaymentMethod(function (err, payload) {
                if (err) {
                    return;
                }
              
                document.querySelector('#nonce').value = payload.nonce;
                form.submit();
            });
        });
    });
</script>
