@model Water_Services.Data.Entities.User

@{
    ViewData["Title"] = "Customer details";
}

<h2>@Model.FullName</h2>
<hr />
<div>
    <div class="row">
        <dl class="col-md-6">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.FullName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.FullName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>
        <div class="col-md-4">
            @if (!string.IsNullOrEmpty(Model.ImageFullPath))
            {
                <img src="@Url.Content(Model.ImageFullPath)" alt="Image" style="width:50%" />
            }
        </div>
    </div>
    <div>
        <a asp-action="ListCustomers" class="btn btn-success"><i class="fa fa-arrow-alt-circle-left"></i> Go back</a>
        @if (this.User.IsInRole("Employee"))
        {
            <a asp-action="Create" asp-route-userId="@Model.Id" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Add new meter</a>
        }
    </div>
    <br />
</div>
<h4>Meters</h4>
@if (Model.Meters == null || Model.Meters.Count == 0)
{
    <h5>This user does not have any meters.</h5>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Meters.SingleOrDefault().SerialNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Meters.SingleOrDefault().Address)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Meters.OrderBy(m => m.Id))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SerialNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        <a asp-controller="Meters" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}