@model IEnumerable<Water_Services.Data.Entities.Meter>

@{
    ViewData["Title"] = "Index";
}

<h2>Meters</h2>
<br />
<table class="table">
    <thead>
        <tr>
            @if (this.User.IsInRole("Employee"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                @if (this.User.IsInRole("Employee"))
                {
                    <td>
                        <div>
                            @Html.DisplayFor(modelItem => item.User.FullName)
                            (@Html.DisplayFor(modelItem => item.User.Email))
                        </div>
                        <div>
                            <img src="@Url.Content(item.User.ImageFullPath)" width="65" />
                        </div>
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
