@model UF5423_Aguas.Data.Entities.Meter

@{
    ViewData["Title"] = "Meter details";
}

<h2>Meter details</h2>
<partial name="_MetersDetails" />
<div>
    @if (this.User.IsInRole("Employee"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    }
    <a asp-action="Index" class="btn btn-success">Back to list</a>
</div>
<br />
<div>
@if (User.IsInRole("Customer") && DateTime.Now.Day > 5)
{
    <a class="btn btn-primary disabled" style="pointer-events: none;">Add consumption</a>
    <p style="color:gray">*Consumptions can only be added during the first 5 days of each month.</p>
}
else
{
    <a asp-action="AddConsumption" asp-route-id="@Model.Id" class="btn btn-primary">Add consumption</a>
}
</div>
<h4>Consumptions</h4>
@if (Model.Consumptions == null || Model.Consumptions.Count == 0)
{
    <h5>This meter does not have any consumptions.</h5>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Consumptions.SingleOrDefault().Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Consumptions.SingleOrDefault().Volume)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Consumptions.SingleOrDefault().PaymentConfirmed)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Consumptions.OrderBy(c => c.Id))
            {
                <tr>
                    <td>
                        @item.Date.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Volume) m³
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentConfirmed)
                    </td>
                    <td>
                        @if (this.User.IsInRole("Employee"))
                        {
                            @if (!item.PaymentConfirmed)
                            {
                                <a asp-action="EditConsumption" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                                <a asp-action="DeleteConsumption" asp-route-id="@item.Id" class="btn btn-danger" id="btnDelete">Delete</a>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}