@model UF5423_Aguas.Data.Entities.Meter

@{
    ViewData["Title"] = "Meter details";
}

<h2>Meter details</h2>
<hr>
<partial name="_MetersDetails" />
<div>
    @if (this.User.IsInRole("Employee"))
    {
        <a asp-action="CustomerDetails" asp-route-id="@Model.User.Id" class="btn btn-success"><i class="fa fa-arrow-alt-circle-left"></i> Go back</a>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"><i class="fa fa-edit"></i> Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger"><i class="fa fa-trash"></i> Remove</a>
    }
    else
    {
        <a asp-action="Index" class="btn btn-success"><i class="fa fa-arrow-alt-circle-left"></i> Go back</a>
    }
    @if (User.IsInRole("Customer") && DateTime.Now.Day > 5)
    {
        <a class="btn btn-primary disabled" style="pointer-events: none;">Add consumption</a>
        <p style="color:gray">*Consumptions can only be added during the first 5 days of each month.</p>
    }
    else
    {
        <a asp-action="AddConsumption" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Add consumption</a>
    }
</div>
<br />
<h4>Consumptions</h4>
@if (Model.Consumptions == null || Model.Consumptions.Count == 0)
{
    <h5>This meter does not have any consumptions.</h5>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Consumptions.SingleOrDefault().Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Consumptions.SingleOrDefault().Volume)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Consumptions.SingleOrDefault().PaymentConfirmed)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Consumptions.OrderBy(c => c.Id))
            {
                <tr>
                    <td>
                        @item.Date.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Volume) m³
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentConfirmed)
                    </td>
                    <td>
                        @if (this.User.IsInRole("Employee"))
                        {
                            @if (!item.PaymentConfirmed)
                            {
                                <a asp-action="EditConsumption" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa fa-edit"></i></a>
                                <a asp-action="DeleteConsumption" asp-route-id="@item.Id" class="btn btn-danger" id="btnDeleteConsumption"><i class="fa fa-trash"></i></a>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@* <div id="deletionDialog" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Remove consumption</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close"></i></button>
            </div>
            <div class="modal-body">
                <p>Do you want to remove this consumption?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnYes">Yes</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(document).ready(function () {
            var id = 0;
            $("#btnDeleteConsumption").click(function () {
                id = $(this).data("id");
                $("#deletionDialog").modal("show");
                return false;
            });

            $("#btnYes").click(function () {
                window.location.href = '/Meters/DeleteConsumption/' + id;
            });
        });
    </script>
} *@