@model IEnumerable<UF5423_Aguas.Data.Entities.Meter>

@{
    ViewData["Title"] = "Index";
}

@if (this.User.IsInRole("Employee"))
{
    <h2>All meters</h2>
}
else
{
    <h2>My meters</h2>
}
<p>
    <a asp-action="Create" class="btn btn-primary">Add new meter</a>
</p>
<table class="table">
    <thead>
        <tr>
            @if (this.User.IsInRole("Employee"))
            {
                <th>
                    User 
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                @if (this.User.IsInRole("Employee"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.User.FullName)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
