@model IEnumerable<UF5423_Aguas.Data.Entities.Meter>

@{
    ViewData["Title"] = "Index";
}

@if (this.User.IsInRole("Employee"))
{
    <h2>All meters</h2>
    <p>
        <a asp-action="Create" class="btn btn-primary">Add new meter</a>
    </p>
}
else
{
    <h2>My meters</h2>
    <p>
        <a asp-action="Request" class="btn btn-primary">Request new meter</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            @if (this.User.IsInRole("Employee"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                @if (this.User.IsInRole("Employee"))
                {
                    <td>
                        <div>
                            @Html.DisplayFor(modelItem => item.User.FullName)
                            (@Html.DisplayFor(modelItem => item.User.Email))
                        </div>
                        <div>
                            <img src="@Url.Content(item.User.ImageFullPath)" width="65" />
                        </div>
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                @if (this.User.IsInRole("Employee"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Remove</a>
                    </td>
                }
                else
                {
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>
