@model IEnumerable<UF5423_Aguas.Data.Entities.Consumption>

@{
    ViewData["Title"] = "Consumptions";
}

<h2>Consumptions</h2>
<br />
<table class="table">
    <thead>
        <tr>
            @if (this.User.IsInRole("Employee"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Meter.User)
                </th>
            }
            <th>
                Meter serial number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentConfirmed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (this.User.IsInRole("Employee"))
                {
                    <td>
                        <div>
                            @Html.DisplayFor(modelItem => item.Meter.User.FullName)
                            @Html.DisplayFor(modelItem => item.Meter.User.Email)
                        </div>
                        <div>
                            <img src="@Url.Content(item.Meter.User.ImageFullPath)" width="40" />
                        </div>
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Meter.SerialNumber)
                </td>
                <td>
                    @item.Date.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Volume) m³
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentConfirmed)
                </td>
                <td>
                    @if (this.User.IsInRole("Employee") && !item.PaymentConfirmed)
                    {
                        <a asp-controller="Meters" asp-action="Details" asp-route-id="@item.Meter.Id" class="btn btn-info">Go to meter</a>
                        <a asp-action="EditConsumption" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="DeleteConsumption" asp-route-id="@item.Id" class="btn btn-danger" id="btnDelete">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
